<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.syndicate.vshark" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Starting" >
        <activity
            android:name=".ForgotPassword"
            android:exported="false"
            android:theme="@style/Theme.VShark"/>
        <activity
            android:name=".viewPitcherProfile"
            android:exported="false"
            android:theme="@style/Theme.VShark"/>
        <activity
            android:name=".UserProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.VShark"/>
        <activity
            android:name=".AddUserProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.VShark"/>
        <activity
            android:name=".CreateMeetActivity"
            android:exported="false"
            android:theme="@style/Theme.VShark"/>
        <activity
            android:name=".RegistrationActivity"
            android:exported="false"
            android:theme="@style/Theme.VShark"/>
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.VShark"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>